<a class="navbar-brand glyphicon glyphicon-book" href="/">Книжная Экспертиза</a>
<hr><br><br><br><br>

<ul class="nav nav-pills nav-stacked">
  <li><a class="glyphicon glyphicon-home" href="/"> Главная</a></li>
  <li><a class="glyphicon glyphicon-pencil" href="/reviwers"> Рецензенты</a></li>
  <li><a class="glyphicon glyphicon-cog" href="/how_it_works"> Как это работает?</a></li>
  <li><a class="glyphicon glyphicon-info-sign" href="/information"> Информация</a></li>
  <li><a class="glyphicon glyphicon-bullhorn" href="/news"> Новости и конкурсы</a></li>
  <li><a class="glyphicon glyphicon-send" href="/contact_us"> Контакты</a></li>
</ul><br>
