<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p class="lead">Вопрос от <%= @name %></p><br>
    <p class="lead"><%= @message %></p>
    <br>
    <p><strong>Телефон отправителя: <%= @phone %></strong></p>
    <p><strong>Емейл отправителя: <%= @email %></strong></p>
  </body>
</html>