<div class="row">
	<div class="col-md-2">
		<%= image_tag @user.avatar.url(:medium), class: "img-circle" %>
	</div>
	<div class="col-md-10 sh_pr">
		<h4 class="lead"><%= @user.name %></h4>
		<%= link_to "Редактировать профиль", edit_user_registration_path %><br>
		<h6>на рассмотрении() / завершенные()</h6>			
		<hr>
	</div>
</div>
