<div class="text-left main">
	<h3><p class="lead"><h3>Вы:</h3></p> 
	<p><h4>Пишете стихи, прозу или сценарии?</h4></p>
	<h4>Хотите получить профиссиональный разбор своей работы, обективно оценить
	ее художествинные достоинства.</h4>
	<h4>Стремитесь развивать свои творчиские способности?</h4>
	<h4>Первый независимый сервис рецензии поможет Вам!</h4>
	<p><h4>Наши рецензенты - писатели, критики, редакторы ведущих литературных журналов и
	профессиональные сценаристы. Мы работаем исключительно с мастерами своего дела 
	и гарантируем юридическую защиту авторских прав.</h4></p>
	<p class="lead"><h3>Работать с нами просто, удобно, безопасно.</h3></p>
</div>