<div class="row">
	<div class="col-md-1 hitw_img">
		<i class="fa fa-users fa-5x" aria-hidden="true"></i>
	</div>
	<div class="col-md-2 hitw_title">
		1. Выберете рецензента
	</div>
	<div class="col-md-9 hitw_hint">
		<small>Во вкладке <%= link_to "рецензенты" %> вы можете ознакомится с полным списком
		наших критиков. Под именем критика указаны жанры, с которыми он работает.</small>
		<p><small>Прим.
		Будьте внимательны - если фото рецензента неактивно, это означает что он временно
		приостановил прием работ.</small></p>
		<p><small>Критики ранжированы по стоимости выполнения рецензии. В верхней части экрана -
		наиболее опытные и высокооплачиваемые мастера, ниже - начинающие, но не менее
		профессиональные коллеги с более бюджетным прейскурантом. Чтобы получить подробную
		информацию о критике, щелкните на иконку с его изображением. На странице
		рецензента можно ознакомится с его биографией и концепцией рецензирования, а
		затем отправить работу.</small></p>
		<p><small>Прим.
		Рекомендуем вам самостоятельно посчитать стоимость рецензии. Прайс-лист каждого
		рецензента расположен на его странице. Рассчитывая стоимость, учитывайте, что
		рукописи различных жанров могут оцениваться по-разному.</small></p>
	</div>
</div>
<div class="row">
	<div class="col-md-1 hitw_img2">
		<i class="fa fa-unlock fa-5x" aria-hidden="true"></i>
	</div>
	<div class="col-md-2 hitw_title2">
		2. Регистрация
	</div>
	<div class="col-md-9 hitw_hint2">
		<p><small>Итак, вы выбрали рецензента и готовы отправить рукопись.</small></p>
		<p><small>Заполните заявку(на странице рецензента или воспользовавшись клавишей "отправить
		работу" в верхней части экрана), ознакомьтесь с договором оферты и отправьте
		рукопись. ВНИМАНИЕ: мы принимаем файлы только в формате .doc.</small></p>
		<p><small>На почту, указанную в заявке, придет подтверждение регистрации на сайте и сообщение
		о получении заявки.</small></p>
	</div>
</div>
<div class="row">
	<div class="col-md-1 hitw_img3">
		<i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
	</div>
	<div class="col-md-2 hitw_title3">
		3. Рассмотрение заявки
	</div>
	<div class="col-md-9 hitw_hint2">
		<p><small>В течении трех дней со дня отправки работы мы ответим, принята ли она к 
		рецензированию. Рецензент имеет право отказаться от работы без объяснения причин.
		В случае если рецензент принял вашу заявку, мы вышлем вам уведомление и сформируем
		счет для оплаты.</small></p>
	</div>
</div>

<div class="row">
	<div class="col-md-1 hitw_img2">
		<i class="fa fa-credit-card fa-5x" aria-hidden="true"></i>
	</div>
	<div class="col-md-2 hitw_title4">
		4. Оплата
	</div>
	<div class="col-md-9 hitw_hint4">
		<p><small>Мы принимаем электронные платежи через Яндекс.деньги и переводы на расчетный счет.
		Оплата должна быть произведена в течении трех дней с момента получения счета.
		После подтверждения оплаты рецензент приступает к работе. Если оплата не поступает,
		мы освобождаем рецензента и высылаем Вам уведомление.</small></p>
	</div>
</div>

<div class="row">
	<div class="col-md-1 hitw_img2">
		<i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
	</div>
	<div class="col-md-2 hitw_title5">
		5. Получение рецензии
	</div>
	<div class="col-md-9 hitw_hint5">
		<p><small>Рецензия будет готова через две недели после подтверждения заказа и его оплаты.
		Вы получаете рецензию напечатанную на фирменном бланке проекта "Экспертиза" в
		электронном виде. Если вы хотите получить рецензию с личной подписью рецензента,
		вы можете воспользоваться дополнительной услугой, обратившись к координатору в 
		ответном письме.</small></p>
	</div>
</div>
