<div class="text-left info">
	<p>Проект "Экспертиза" - независимый сервис рецензирования, цель которого
  помочь авторам, заинтересованным в профессиональном росте. Наши друзья и
  партнеры - московская школа литературного творчества <strong>Creative Writing 
  School</strong>. Совместно с CWS мы работаем не только в сфере обучения и создания
  интеллектуального коммьюнити, но и активного продвижения наших авторов.</p>

  <p class="lead">Зачем это нужно?</p>
  <p>Воспользовавшись нашим сервисом вы получите:</p>
  <p>- профессиональный и беспристрастный анализ своего текста, который поможет
  обратить внимание на нюансы и "отшлифовать" текст;</p>
  <p>- четкую оценку: стоит ли публиковать работу или текст требует доработки;</p>
  <p>- вектор развития: каким конкретным изданиям стоит направить именно вашу
  рукопись для публикации;</p>
  <p>- автоматический допуск к совместному конкурсу проекта "Экспертиза" и "CWS"
  на публикацию в первой бесплатной городской литературной газете "GRAM". По
  итогам ежеквартального конкурса мы будем выбирать лучшие работы, прошедшие
  через наш сервис и публиковать их в нашей газете. Авторам опубликованных
  работ не только будет возвращена стоимость рецензии, но и предложен гонорар,
  пропорциональный объему работы.</p>      	 
</div>