<div class="media">
  <a class="media-left" href="#">
    <img class="thumbnail" src="cat.jpeg" >
  </a>
  <div class="media-body">
    <h4 class="media-heading">Название новости</h4>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis magna vel mauris lobortis iaculis. Suspendisse venenatis mauris non rutrum bibendum. Proin luctus lorem ac mauris porttitor fringilla. Cras varius dapibus enim, eget sollicitudin est convallis a. Nunc pretium mollis molestie. Maecenas ac tortor id purus luctus feugiat. Donec consectetur dolor nec nisl hendrerit tincidunt.

Etiam venenatis varius nisi et ultrices. Ut commodo risus quis lectus sodales fermentum. Duis at felis aliquet, iaculis nunc ac, hendrerit dolor. Morbi vitae est quis nunc maximus laoreet. Cras faucibus in felis in interdum. Ut eget leo vel dolor pretium ultrices non quis felis. Aliquam bibendum erat vitae augue faucibus maximus.

Etiam ut libero sed mauris dapibus congue vel ac dui. Morbi commodo purus vitae metus sodales, a dapibus enim elementum. Curabitur a facilisis risus. Vestibulum nec elementum erat, in mattis ipsum. Donec at tristique magna. Morbi at enim risus. Phasellus id quam sit amet urna hendrerit mattis vel a purus. Phasellus magna justo, euismod sed odio eget, bibendum tincidunt lectus. Nulla facilisi.

Morbi risus diam, malesuada nec tempor pharetra, faucibus fringilla risus. Aliquam vestibulum bibendum quam. Aliquam quam est, sodales nec arcu nec, finibus pretium justo. In hac habitasse platea dictumst. Integer tincidunt lobortis orci sit amet elementum. Aenean interdum et purus et pretium. Nunc non eros euismod, luctus elit id, porta ipsum. Mauris efficitur lobortis posuere. Nunc porttitor lectus sed dictum molestie. Praesent lobortis, arcu id aliquet laoreet, tortor felis ultricies justo, dignissim semper velit lorem sed nisi. Mauris accumsan ex eu diam feugiat sagittis. Sed lacinia quam eu nulla pretium, at dapibus diam congue. Curabitur nec pretium libero, ut mattis nisl.

Maecenas ut tempor lorem. Aliquam erat volutpat. Mauris augue diam, elementum in pharetra a, imperdiet euismod ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec eget gravida sapien, sit amet dignissim lorem. Phasellus auctor, nunc at fringilla viverra, ex arcu finibus nibh, et condimentum nunc ligula quis nisi. Sed orci leo, eleifend at condimentum sed, porta sit amet libero. Ut euismod in nibh vel elementum. Nam aliquet ultrices dui feugiat vehicula. Phasellus massa nibh, efficitur ac quam sed, consequat consectetur dui. 
  </div>
</div>